/* Schedule Section */

.schedule{
    background-color: burlywood;
    background-image: url();
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: ;
    padding-right: ; */
}

.schedule .content{
    color: white;
}

/* .about h1{
    font-size: 50;
    font-weight: bold;
    color: blue;

} */

.schedule p{
    font-size: 20;
    line-height: 30px;
}