@import url("navmenu.css");
@import url("home.css");
@import url("about.css");
@import url("faq.css");
@import url("schedule.css");
@import url("sponsors.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}

.valign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

/*********************
    Typography
*********************/

p{
    margin-bottom: 2rem;
}

.section-header{
	color: white;
	font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/*********************
    Buttons
*********************/

.buttonBox {
    margin: 0 auto;
}

.button-r, .button-b, .button-y{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 15px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button-r{
    background-color: red;
}

.button-b{
    background-color: blue;
}

.button-y{
    background-color: #ffd424;
    box-shadow: 0 7px #b49610;
    color: black;
}

.button-r:hover{
    background-color: lightcoral;
}

.button-b:hover{
    background-color: lightblue;
}

.button-y:hover{
    background-color:#ffe780;
}

.button-r:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-b:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-y:active{
    box-shadow: 0 5px #b49610;
    transform: translateY(4px);
}

.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

/*********************
    Media Queries
*********************/

@media screen and (max-width: 1024px){
    /* flex-direction: column; */
}