/*--------------------------------------
    About Us Section
--------------------------------------*/

.about{
    margin: auto;
    padding-top: 100px;
    padding-bottom: 40px;
}

.about .content{
    color: white;
}

.about h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.about h2{
    font-size: 16px;
    margin: 5px 0 5px 0;
}

.about h3{
    font-size: 14px;
    font-weight: lighter;
}

.about p{
    font-size: 20;
    line-height: 30px;
    margin-top: 1.5rem;
}

.about .column{
    flex: 25%;
    padding: 5px 5px 5px 5px;
}

.about .row{
    align-items: center;
    display: flex;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.about .row img{
    height: 135px;
    width: auto;
}

:root {
    --marquee-width: 80vw;
    --marquee-height: 300px;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}
  
.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: #eee;
    position: relative;
    overflow: hidden;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #162447 0%, transparent 100%);
}

  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #162447 0%, transparent 100%);
}

.marquee .team-photo{
    height: 200px;
    width: auto;
}

.marquee-content:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: 5rem;
    white-space: nowrap;
}
  
.marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
}

@media screen and (max-width: 768px){
    :root {
        --marquee-width: 100vw;
        --marquee-height: 220px;
        --marquee-elements-displayed: 2;
    }

    .marquee .team-photo{
        height: 140px;
        width: auto;
    }

    .marquee:before, .marquee:after {
        width: 5rem;
    }

    .about .column{
        flex: 50%;
        padding: 5px 5px 5px 5px;
    }
    
    .about .row{
        align-items: center;
        display: flex;
        padding: 0.5rem 2rem 0.5rem 2rem;
    }
    
    .about .row img{
        height: 120px;
        width: auto;
    }
}