/*--------------------------------------
    About Us Section
--------------------------------------*/

.about{
    margin: auto;
    padding-top: 100px;
    padding-bottom: 40px;
}

.about .content{
    color: white;
}

.about h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.about h2{
    font-size: 16px;
    margin: 5px 0 5px 0;
}

.about h3{
    font-size: 14px;
    font-weight: lighter;
}

.about p{
    font-size: 20;
    line-height: 30px;
    margin-top: 1.5rem;
}

.about .column{
    flex: 25%;
    padding: 5px 5px 5px 5px;
}

.about .row{
    align-items: center;
    display: flex;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.about .row img{
    height: 135px;
    width: auto;
}

@media screen and (max-width: 768px){
    .about .column{
        flex: 50%;
        padding: 5px 5px 5px 5px;
    }
    
    .about .row{
        align-items: center;
        display: flex;
        padding: 0.5rem 2rem 0.5rem 2rem;
    }
    
    .about .row img{
        height: 120px;
        width: auto;
    }
}