/* Schedule Section */

.schedule{
    background-color: burlywood;
    background-image: url();
    background-image: url("images/overlay.png"), -moz-linear-gradient(125deg, #CF5C36 20%, #4C1E4F 45%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(125deg, #CF5C36 20%, #4C1E4F 45%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(125deg, #CF5C36 20%, #4C1E4F 45%);
    background-image: url("images/overlay.png"), linear-gradient(125deg, #CF5C36 20%, #4C1E4F 45%);
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.schedule .content{
    color: white;
}

.schedule h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}

.schedule p{
    font-size: 20;
    line-height: 30px;
}