.carousel-wrapper {
    z-index: 0;
    min-width: 350px;
    width: 100%;
    height: 30vw;
    max-height: 400px;
    position: relative;
    margin: 0 auto;
}

.carousel-item {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 30vw;
    max-height: 400px;

    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    border: solid;
    border-color: aliceblue;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: -100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: -100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {

    .arrow,
    .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}


/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('./images/firstPlace.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.item-2 {
    background: url('./images/otherPlaces.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

*:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}